
:root
{
    font-family: 'Consolas', monaco, monospace;
    --c_1: #FFFFFF;
    --c_2: #BB8FA3;
    background-color: var(--c_1);
    text-align: center;
}

body
{
    border-color: var(--c_2);
    border-width: 1px;
    border-style: solid;
}

img
{
    image-rendering: crisp-edges;
}

img.urze
{
    padding-top: 50px;
}

p
{
    color: var(--c_2);
    letter-spacing: -.5px;
    font-size: medium;
}

p.info
{
    padding-bottom: 50px;
}

a
{
    text-decoration: none;
    color: var(--c_2);
}

a:hover
{
    background-color: var(--c_2);
    color: var(--c_1);
    font-weight: bold;
}

::selection
{
	color: var(--c_1);
	background-color: var(--c_2);
}

::-webkit-scrollbar
{
        width: 14px;
}

::-webkit-scrollbar-track
{
        background: var(--c_1);
}

::-webkit-scrollbar-thumb
{
        background: var(--c_2);
}

@media screen and (max-width: 300px)
{
    img.urze
    {
        width: 200px;
    }

    img.poster
    {
        width: 250px;
    }
}